In [3]:
import os

import pandas as pd
import numpy as np

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from sqlalchemy import inspect

from flask import Flask, jsonify, render_template
from flask_sqlalchemy import SQLAlchemy

import pymysql
pymysql.install_as_MySQLdb()

In [5]:
Base.metadata.create_all(conn)

NameError: name 'Base' is not defined

In [4]:
from sqlalchemy import Column, Integer, String, Float

class Otu(Base):
    __tablename__ = "otu"
    otu_id = Column(Integer, primary_key=True)
    lowest_taxonomic_unit_found = Column(String(1000))

class Metadata(Base):
    __tablename__ = "samples_metadata"
    sample = Column(Integer, primary_key=True)
    EVENT = Column(String)
    ETHNICITY = Column(String)
    GENDER = Column(String)
    AGE = Column(Integer)
    WFREQ = Column(Float)
    BBTYPE = Column(String)
    LOCATION = Column(String)
    COUNTRY012 = Column(String)
    ZIP012 = Column(String)
    COUNTRY1319 = Column(String)
    ZIP1319 = Column(String)
    DOG = Column(String)
    CAT = Column(String)
    IMPSURFACE013 = Column(Integer)
    NPP013 = Column(Float)
    MMAXTEMP013 = Column(Float)
    PFC013 = Column(Float)
    IMPSURFACE1319 = Column(Integer)
    NPP1319 = Column(Float)
    MMAXTEMP1319 = Column(Float)
    PFC1319 = Column(Float)

NameError: name 'Base' is not defined

In [ ]:
Base.metadata.create_all(conn)

In [6]:
engine = create_engine("postgres://udvwdwvbzunayf:9eafd695b832ce9814fd7cbe362736cba5db0a7b0b92d16951567b5e4fc7ca43@ec2-54-227-246-152.compute-1.amazonaws.com:5432/d75mr3kq9vj4tl")
conn = engine.connect()

In [9]:
from sqlalchemy.orm import Session
session = Session(bind=engine)

In [10]:
# Print all of the player names in the database
belly_bs = session.query(Metadata)
for b in belly_bs:
  print(b.sample)

NameError: name 'Metadata' is not defined

In [ ]:
test = session.query(Metadata).\
    filter(Metadata.sample == 964)
print(test)

In [ ]:
app = Flask(__name__)
app.config["SQLALCHEMY_DATABASE_URI"] = os.environ.get('DATABASE_URL', '') # or "sqlite:///db/bellybutton.sqlite"
db = SQLAlchemy(app)
stmt = db.session.query(Metadata).statement
#     df = pd.read_sql_query(stmt, db.session.bind)
#   @app.route("/names")
# def names():
#     """Return a list of sample names."""

#     # Use Pandas to perform the sql query
#     stmt = db.session.query(Samples).statement
#     df = pd.read_sql_query(stmt, db.session.bind)

#     # Return a list of the column names (sample names)
#     return jsonify(list(df.columns)[2:])

In [ ]:
# Find the number of players from the USA
usa = session.query(BaseballPlayer).\
    filter(BaseballPlayer.birth_country == 'USA').count()
print("There are {} players from the USA".format(usa))

In [ ]:
# Find those players who were born before 1990
born_before_1990 = session.query(BaseballPlayer).\
    filter(BaseballPlayer.birth_year < 1990).count()
    
print("{} players were born before 1990".format(born_before_1990))

In [ ]:
# Find those players from the USA who were born after 1989
born_after_1989 = session.query(BaseballPlayer).\
    filter(BaseballPlayer.birth_year > 1989).filter(BaseballPlayer.birth_country == "USA").\
    count()
print("{} USA players were born after 1989".format(born_after_1989))