In [9]:
!rm bellybutton.sqlite

rm: cannot remove 'bellybutton.sqlite': No such file or directory

In [10]:
import pandas as pd

In [11]:
df = pd.read_csv("belly_button_data.csv")

In [12]:
df.head()

,otu_id,otu_label,940,941,943,944,945,946,947,948,...,1562,1563,1564,1572,1573,1574,1576,1577,1581,1601
0,1,Archaea;Euryarchaeota;Halobacteria;Halobacteri...,0,0,0,0,0,0,0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,2,Archaea;Euryarchaeota;Halobacteria;Halobacteri...,0,0,0,0,0,0,0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,3,Archaea;Euryarchaeota;Halobacteria;Halobacteri...,0,0,0,0,0,0,0,0.0,...,0,0,0,0,0,0,0,0,0,0
3,4,Archaea;Euryarchaeota;Methanobacteria;Methanob...,0,0,0,0,0,0,0,0.0,...,0,0,0,0,0,0,0,0,0,0
4,5,Archaea;Euryarchaeota;Methanobacteria;Methanob...,0,0,0,0,0,0,0,0.0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
help(df.to_sql)

Help on method to_sql in module pandas.core.generic:

to_sql(name, con, schema=None, if_exists='fail', index=True, index_label=None, chunksize=None, dtype=None) method of pandas.core.frame.DataFrame instance
    Write records stored in a DataFrame to a SQL database.

    Databases supported by SQLAlchemy [1]_ are supported. Tables can be
    newly created, appended to, or overwritten.

    Parameters
    ----------
    name : string
        Name of SQL table.
    con : sqlalchemy.engine.Engine or sqlite3.Connection
        Using SQLAlchemy makes it possible to use any DB supported by that
        library. Legacy support is provided for sqlite3.Connection objects.
    schema : string, optional
        Specify the schema (if database flavor supports this). If None, use
        default schema.
    if_exists : {'fail', 'replace', 'append'}, default 'fail'
        How to behave if the table already exists.

        * fail: Raise a ValueError.
        * replace: Drop the table before inserting new values.
        * append: Insert new values to the existing table.

    index : boolean, default True
        Write DataFrame index as a column. Uses `index_label` as the column
        name in the table.
    index_label : string or sequence, default None
        Column label for index column(s). If None is given (default) and
        `index` is True, then the index names are used.
        A sequence should be given if the DataFrame uses MultiIndex.
    chunksize : int, optional
        Rows will be written in batches of this size at a time. By default,
        all rows will be written at once.
    dtype : dict, optional
        Specifying the datatype for columns. The keys should be the column
        names and the values should be the SQLAlchemy types or strings for
        the sqlite3 legacy mode.

    Raises
    ------
    ValueError
        When the table already exists and `if_exists` is 'fail' (the
        default).

    See Also
    --------
    pandas.read_sql : read a DataFrame from a table

    References
    ----------
    .. [1] http://docs.sqlalchemy.org
    .. [2] https://www.python.org/dev/peps/pep-0249/

    Examples
    --------

    Create an in-memory SQLite database.

    >>> from sqlalchemy import create_engine
    >>> engine = create_engine('sqlite://', echo=False)

    Create a table from scratch with 3 rows.

    >>> df = pd.DataFrame({'name' : ['User 1', 'User 2', 'User 3']})
    >>> df
         name
    0  User 1
    1  User 2
    2  User 3

    >>> df.to_sql('users', con=engine)
    >>> engine.execute("SELECT * FROM users").fetchall()
    [(0, 'User 1'), (1, 'User 2'), (2, 'User 3')]

    >>> df1 = pd.DataFrame({'name' : ['User 4', 'User 5']})
    >>> df1.to_sql('users', con=engine, if_exists='append')
    >>> engine.execute("SELECT * FROM users").fetchall()
    [(0, 'User 1'), (1, 'User 2'), (2, 'User 3'),
     (0, 'User 4'), (1, 'User 5')]

    Overwrite the table with just ``df1``.

    >>> df1.to_sql('users', con=engine, if_exists='replace',
    ...            index_label='id')
    >>> engine.execute("SELECT * FROM users").fetchall()
    [(0, 'User 4'), (1, 'User 5')]

    Specify the dtype (especially useful for integers with missing values).
    Notice that while pandas is forced to store the data as floating point,
    the database supports nullable integers. When fetching the data with
    Python, we get back integer scalars.

    >>> df = pd.DataFrame({"A": [1, None, 2]})
    >>> df
         A
    0  1.0
    1  NaN
    2  2.0

    >>> from sqlalchemy.types import Integer
    >>> df.to_sql('integers', con=engine, index=False,
    ...           dtype={"A": Integer()})

    >>> engine.execute("SELECT * FROM integers").fetchall()
    [(1,), (None,), (2,)]

In [14]:
# Import SQLAlchemy `automap` and other dependencies
from sqlalchemy import create_engine, inspect

In [15]:
# Create the connection engine
engine = create_engine("sqlite:///bellybutton.sqlite")
conn = engine.connect()

In [16]:
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [ ]:
from sqlalchemy import Column, Integer, String, Float

class Otu(Base):
    __tablename__ = "otu"
    otu_id = Column(Integer, primary_key=True)
    lowest_taxonomic_unit_found = Column(String(1000))

# class Metadata(Base):
#     __tablename__ = "samples_metadata"

#     sample = Column(Integer, primary_key=True)
#     EVENT = Column(String)
#     ETHNICITY = Column(String)
#     GENDER = Column(String)
#     AGE = Column(Integer)
#     WFREQ = Column(Float)
#     BBTYPE = Column(String)
#     LOCATION = Column(String)
#     COUNTRY012 = Column(String)
#     ZIP012 = Column(String)
#     COUNTRY1319 = Column(String)
#     ZIP1319 = Column(String)
#     DOG = Column(String)
#     CAT = Column(String)
#     IMPSURFACE013 = Column(Integer)
#     NPP013 = Column(Float)
#     MMAXTEMP013 = Column(Float)
#     PFC013 = Column(Float)
#     IMPSURFACE1319 = Column(Integer)
#     NPP1319 = Column(Float)
#     MMAXTEMP1319 = Column(Float)
#     PFC1319 = Column(Float)

In [ ]:
Base.metadata.create_all(conn)

In [ ]:
df.to_sql(Metadata.__tablename__, conn, index=False, if_exists="replace")

In [ ]:
import pymysql, os
pymysql.install_as_MySQLdb()

# PASSWD = os.getenv("LOCAL_MYSQL_PASS")
# USER = "root"
# PORT = "3306"
# DOMAIN = "localhost"
# DB = "sql_example"
# engine = create_engine(f"mysql://{USER}:{PASSWD}@{DOMAIN}:{PORT}/{DB}")
# conn = engine.connect()

In [ ]:
engine = create_engine("postgres://udvwdwvbzunayf:9eafd695b832ce9814fd7cbe362736cba5db0a7b0b92d16951567b5e4fc7ca43@ec2-54-227-246-152.compute-1.amazonaws.com:5432/d75mr3kq9vj4tl")
conn = engine.connect()

In [ ]:
Base.metadata.drop_all(conn)
Base.metadata.create_all(conn)

In [ ]:
df.to_sql(Metadata.__tablename__, conn, index=False, if_exists="replace")